/*
 *
 * ********************************************************************
 * PDFO Homepage - v1.0
 * ********************************************************************
 *
 * PDFO page: https://pdfo.net
 * Adapted for PDFO Homepage by Tom M. Ragonneau and Zaikun Zhang
 *
 * ********************************************************************
 *
 * Original author: Xiaoying Riley
 * Copyright: 3rd Wave Media Ltd.
 * Website: http://themes.3rdwavemedia.com/
 * Twitter: @3rdwave_themes
 *
 **/

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*color: #5d6778;*/
    color: #404142;
    padding-top: 3.6rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #252936;
    font-weight: normal 
}

a:link, a:visited {
    /*color: #0f4c81;*/
    color: #22368d;
    text-decoration: none;
}

a.dark-bg {
    color: #ffffff;
}
a.dark-bg:hover {
    color: #ffffff;
}

a:hover {
    color: #000000;
}

p {
    margin-top: 0.05em;
    margin-bottom: 0.75em;
}

footer {
    font-size: 0.7rem;
    color: #404142;
    font-weight: lighter;
}

code {
    color: #151923;
    padding: 0.15rem 0.225rem;
    border-radius: .15rem;
}

.displayed {
    padding: 0.25rem 0.375rem;
    border-radius: .25rem;
}

.normal-weight {
    font-weight: normal;
}

.minor {
    font-weight: 100;
    font-size: x-small; 
    color: grey
}

.display-download-count {
    padding-left: 0.5rem;
    font-size: xx-small;
    color: grey;
}

.count-downloads {
    display: inline
}

.table-bordered th,
.table-bordered td {
    border-color: #e7e9ed
}

.table th,
.table td {
    border-color: #e7e9ed
}

.table thead th {
    border-color: #e7e9ed;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #515a6a
}

.popover {
    border-color: #e0f7e6
}

.bs-popover-left>.arrow::before,
.bs-popover-auto[x-placement^="left"]>.arrow::before,
.bs-popover-auto[x-placement^="left"]>.arrow::before {
    border-left-color: #e0f7e6
}

.bs-popover-right>.arrow::before,
.bs-popover-auto[x-placement^="right"]>.arrow::before,
.bs-popover-auto[x-placement^="right"]>.arrow::before {
    border-right-color: #e0f7e6
}

.bs-popover-top>.arrow::before,
.bs-popover-auto[x-placement^="top"]>.arrow::before,
.bs-popover-auto[x-placement^="top"]>.arrow::before {
    border-top-color: #e0f7e6
}

.bs-popover-bottom>.arrow::before,
.bs-popover-auto[x-placement^="bottom"]>.arrow::before,
.bs-popover-auto[x-placement^="bottom"]>.arrow::before {
    border-bottom-color: #e0f7e6
}

a.theme-link {
    /*color: #0f4c81;*/
    /*-webkit-text-decoration-color: rgba(37, 41, 48, 0.3);*/
    /*text-decoration-color: rgba(37, 41, 48, 0.3)*/
    color: #22368d;
    text-decoration: none;
}

a.theme-link:hover {
    color: #000000;
    /*-webkit-text-decoration-color: rgba(15, 76, 129, 0.8);*/
    /*text-decoration-color: rgba(15, 76, 129, 0.8)*/
}

.btn {
    font-weight: normal;
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: none
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        transition: none
    }
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #0f4c81;
    /*background: #5d6778;*/
    /*box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 0.5)*/
}

.btn:focus,
.btn.focus {
    box-shadow: none !important
}

.btn-primary {
    background: #0f4c81
}

.btn-secondary {
    background: #5d6778;
    color: #fff
}

.btn-light {
    background: #ebf0f2;
    color: #0f4c81
}

.btn-light:hover {
    background: #ebf0f2;
    color: #0f4c81
}

.form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    height: 2.75rem;
    border-color: #e0f7e6
}

.form-control:focus {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    outline: none
}

.theme-icon-holder {
    display: inline-block;
    background: #ebf0f2;
    color: #0f4c81;
    width: 2rem;
    height: 2rem;
    padding-top: 0.1rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%
}

.theme-icon-holder .svg-inline---fa {
    color: #0f4c81
}

.theme-bg-light {
    font-weight: normal;
    background: #f2f7fa
}

.theme-bg-dark {
    font-weight: normal;
    background: #0f4c81
}

.theme-bg-shapes-right {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: hidden
}

.theme-bg-shapes-right:before {
    content: "";
    width: 300px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: -60px;
    top: 0;
    border-radius: 4px;
    -webkit-transform: skew(25deg, -10deg);
    transform: skew(25deg, -10deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.theme-bg-shapes-right:after {
    content: "";
    width: 150px;
    height: 600px;
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    right: 0px;
    top: 30px;
    border-radius: 6px;
    -webkit-transform: skew(25deg, 10deg);
    transform: skew(25deg, 10deg);
    transform-origin: top left
}

.theme-bg-shapes-left {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: hidden
}

.theme-bg-shapes-left:before {
    content: "";
    width: 300px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: -90px;
    top: 0;
    border-radius: 6px;
    -webkit-transform: skew(25deg, -12deg);
    transform: skew(25deg, -12deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.theme-bg-shapes-left:after {
    content: "";
    width: 150px;
    height: 600px;
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    left: 0px;
    top: 30px;
    border-radius: 4px;
    -webkit-transform: skew(-25deg, 10deg);
    transform: skew(-25deg, 10deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.border-radius-0 {
    border-radius: 0
}

.font-style-normal {
    font-style: normal !important
}

.single-col-max {
    max-width: 800px
}

.site-logo .logo-text {
    color: #252930;
    font-size: 1.5rem;
    font-weight: 500 
}

.site-logo .text-alt {
    font-weight: 300
}

.site-logo .navbar-brand {
    font-size: 2rem;
    font-weight: normal; 
    margin: 0 0 0 0;
/*    padding: 0 0 0 0; */
    padding-top: 0.05rem; 
    padding-bottom: 0rem; 
}

.page-header.theme-bg-dark .page-heading {
    color: #fff
}

.page-header.theme-bg-dark .page-intro {
    color: #fff;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8
}

.social-list li {
    font-size: 0.95rem;
    background: #ebf0f2;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    border-radius: 50%;
}

.social-list li a {
    color: #0f4c81
}

.social-list li a:hover {
    color: #0f4c81
}

.social-list li:not(:last-child) {
    margin-right: 0.875rem
}

.header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff
}


.page-heading {
    font-size: 2.5rem
}

.page-intro {
    font-size: 1.125rem
}

.main-search-box {
    max-width: 600px
}

.docs-overview .card {
    border-color: #e7e9ed;
    position: relative;
    height: 83%
}

.docs-overview .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    background: #ebf0f2
}

.docs-overview .card:hover .card-icon-holder {
    background: #fff
}

.docs-overview .card-icon-holder {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 0 0 0;
    font-size: 1rem;
    padding-top: 0.58rem;
    text-align: center;
    display: inline-block
}

.docs-overview .card-title-text {
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    /*top: -0.3rem*/
}

.docs-overview .card-link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.search-form {
    position: relative;
    width: 100%
}

.search-form .search-input {
    font-size: 0.875rem;
    border-radius: 1.5rem;
    padding-right: 3rem;
    padding-left: 1.5rem
}

.search-form .search-input:focus {
    border-color: #e7e9ed
}

.search-form .search-btn {
    color: #828d9f;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0.15rem;
    margin-right: 0
}

.search-form .search-btn:active,
.search-form .search-btn:focus,
.search-form .search-btn:hover {
    outline: none !important;
    color: #0f4c81;
    box-shadow: none
}

.docs-branding {
    min-height: 3.6rem 
}

.docs-branding .top-search-box {
    width: 300px
}

.docs-logo-wrapper {
    position: absolute;
    left: 1rem;
    top: 0.15rem
}

.docs-logo-wrapper .site-logo {
    display: inline-block
}

.docs-top-utilities {
    padding-top: 1.02rem 
}

.docs-sidebar-toggler {
    display: inline-block;
    border: none;
    padding: 0;
    font-size: inherit;
    position: relative;
    top: 0.3rem
}

.docs-sidebar-toggler:focus {
    outline: none
}

.docs-sidebar-toggler:hover span {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.docs-sidebar-toggler span {
    display: block;
    background-color: #252930;
    height: 3px;
    width: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
    border-radius: 1px
}

.docs-wrapper {
    position: relative
}

.docs-sidebar {
    display: none;
    width: 250px;
    position: fixed;
    z-index: 10;
    top: 3.6rem;
    height: calc(100% - 3.6rem);
    background: #fff;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.35s ease-in-out;
    transition: -webkit-transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.1)
}

.docs-sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

.docs-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: .5rem
}

@media (prefers-reduced-motion: reduce) {
    .docs-sidebar {
        -webkit-transition: none;
        transition: none
    }
}

.docs-sidebar.sidebar-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: block
}

.docs-sidebar.sidebar-hidden {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    display: block
}

.docs-nav {
    overflow-y: auto;
    padding: 1rem
}

.docs-nav .section-title {
    font-size: 1rem;
    margin-bottom: 1rem
}

.docs-nav .section-title a:hover {
    text-decoration: none
}

.docs-nav .section-items {
    font-size: 0.875rem;
    position: relative
}

.docs-nav .nav-item {
    margin-left: 2.5rem
}

.docs-nav .nav-item.section-title {
    margin-left: 0
}

.docs-nav .nav-item.section-title .nav-link {
    padding: 0
}

.docs-nav .nav-item.section-title .nav-link:before {
    display: none
}

.docs-nav .nav-link {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    color: #5d6778
}

.docs-nav .nav-link .theme-icon-holder {
    font-size: 0.875rem;
    padding-top: 0.375rem
}

.docs-nav .nav-link.active {
    color: #0f4c81
}

.docs-nav .nav-link.active:before {
    background-color: #0f4c81
}

.docs-nav .nav-link.active .theme-icon-holder {
    color: #fff;
    background: #0f4c81
}

.docs-nav .nav-link:before {
    background-color: #ebf0f2;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -0.5rem;
    position: absolute;
    width: 3px;
    height: 100%;
    border-radius: 1rem
}

.docs-content {
    margin-left: 220px;
    /*padding-bottom: 10px*/
}

.docs-article {
    padding: 1.45rem;
    color: #5d6778
}

.docs-article strong {
    font-weight: normal;
    color: #252930;
}

.docs-article .docs-time {
    position:relative;
    float: right;
    display: inline-block;
    bottom: 0;
    top: 1.2rem; 
    right: 0;
    font-size: 0.75rem;
    font-weight: normal;
    color: grey; 
}

.docs-article .docs-section {
    padding: 0.3rem 0;
    /*	border-bottom: 1px solid #e7e9ed */
}

.docs-article .docs-section p:last-child {
    margin-bottom: 0
}

.docs-article h1 {
    font-size: 1.8rem;
    color: #222532;
    margin-bottom: 0.9rem;
}
.docs-article h2 {
    font-size: 1.3rem;
    color: #232734;
    margin-bottom: 0.7rem;
}

.docs-article h3 {
    font-size: 1.1rem;
    color: #252936;
    margin-top: 1rem;
}

.docs-article h4 {
    font-size: 1rem;
    color: #252936;
}

.docs-article h5 {
    font-size: 0.9rem;
    color: #252936;
}

.docs-article h6 {
    font-size: 0.8rem;
    color: #252936;
}

.docs-article ul,
.docs-article ol,
.docs-article dl {
    padding-left: 1.5rem;
    padding-top: 0rem;
}

.docs-article li {
    padding-top: 0rem;
    padding-bottom: 0.5rem
}

.docs-code-block {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.callout-block {
    padding-top: 0.01rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 3px solid #5d6778;
    background: #f5f5f5;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.callout-block code {
    background: #fff
}

.callout-block {
    font-size: 1rem
}

.callout-block.callout-block-info {
    border-color: #0f4c81;
    background: #ebf0f2
}

.callout-block.callout-block-info .callout-title {
    color: #0f4c81
}

.callout-block.callout-block-info a {
    color: #0f4c81
}

.callout-block.callout-block-success {
    border-color: #5cb377;
    background: #e7f4eb
}

.callout-block.callout-block-success .callout-title {
    color: #3e8554
}

.callout-block.callout-block-success a {
    color: #3e8554
}

.callout-block.callout-block-warning {
    border-color: #EEBF41;
    background: #fdf6e5
}

.callout-block.callout-block-warning .callout-title {
    color: #d09c13
}

.callout-block.callout-block-warning a {
    color: #d09c13
}

.callout-block.callout-block-danger {
    border-color: #d26d69;
    background: #fbf3f2
}

.callout-block.callout-block-danger .callout-title {
    color: #b73c37
}

.callout-block.callout-block-danger a {
    color: #b73c37
}

.cta-section .container {
    position: relative;
    z-index: 10
}

.cta-section .section-intro {
    font-size: 1.125rem
}

@media (max-width: 767.98px) {
    .docs-article .docs-heading {
        font-size: 2.25rem
    }
    .docs-article .section-heading {
        font-size: 1.5rem
    }
    .container {
        /*padding: 0 5px;*/
    }
}

@media (max-width: 1199.98px) {
    .docs-content {
        margin-left: 0
    }
    .docs-article .docs-time {
        position: static;
        display: block;
        padding-top: 0.5rem
    }
}
